<tr>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.mobile_number %></td>
  <td><%= employee.birth_date %></td>
  <td><%= link_to raw('<i class="fa-solid fa-eye fa-lg" style="color: #12e4f3;"></i>'), employee_path(employee), class: "btn m-0", title: "Show" %>
    <%= link_to raw('<i class="fa-solid fa-pen-to-square fa-lg" style="color: #f4e32a;"></i>'), edit_employee_path(employee), class: "btn", title: "Edit" %>
    <%= link_to raw('<i class="fa-solid fa-trash-can fa-lg" style="color: #f02828;"></i>'), employee_path(employee), class: "btn", title: "Remove", data: { turbo_method: :delete, turbo_confirm: :"Are You Sure?" } %></td>
</tr>
