<%= render "shared/error", model_name: order %>

<div class="container text-center col-4">
  <%= form_for @order, url: path do |form| %>
    <div class="input-group mb-4">
      <%= form.label :quantity, class: "input-group-text" %>
      <%= form.number_field :quantity, class: "form-control", placeholder: "Enter How many products you want" %>
    </div>
 
    <div class="input-group mb-4">
      <%= form.label 'Status', class: "input-group-text" %>
      <%= form.select :order_status, Order.statuses, { include_blank: 'Select Status' }, class: "form-control" %>
    </div>

    <%= form.submit value: text, class: 'btn btn-info px-3' %>
  <% end %>
</div>
