<div class="d-flex justify-content-center">
  <% if order.errors.any? %>    
    <div class="alert alert-danger alert-dismissible fade show col-4" role="alert">            
      <ul>        
        <% order.errors.each do |error| %>          
          <li>            
            <%= error.full_message %>          
          </li>        
        <% end %>      
      </ul>      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>    
    </div>  
  <% end %>
</div>

<div class="container text-center col-4">
  <%= form_for [@product, @order] do |form| %>
    <div class="input-group mb-4">
      <%= form.label :quantity, class: "input-group-text" %>
      <%= form.number_field :quantity, class: "form-control", placeholder: "Enter How many products you want" %>
    </div>
 
    <div class="input-group mb-4">
      <%= form.label 'Status', class: "input-group-text" %>
      <%= form.select :order_status, Order.statuses, { include_blank: 'Select Status' }, class: "form-control" %>
    </div>

    <%= form.submit value: text, class: 'btn btn-info px-3' %>
  <% end %>
</div>
