<div class="container mt-5" style="width: 600px;">
  <%= turbo_frame_tag "main_frame" do %>
    <div class="d-flex justify-content-between">
      <h3 class="pt-2 m-0">Posts</h3>
      <%= link_to raw('<i class="fa-regular fa-square-plus"></i> Add'), new_post_path, data: { turbo_frame: dom_id(Post.new) }, class: "btn btn-success rounded-1 py-auto" %>
    </div>
    <hr>

    <%= turbo_frame_tag Post.new %>

    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  <% end %>
</div>
