<!DOCTYPE html>
<html>
  <head>
    <title>LayoutsAndRenderingPractical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/421bc9e4ef.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" style="background: #0631972b;">
      <div class="container-fluid justify-content-start">
        <%= link_to "Products", products_path, class: "navbar-brand" %>
        <%= link_to "Orders", orders_path, class: "navbar-brand" %>
        <%= link_to "Posts", posts_path, class: "navbar-brand" %>
      </div>
      
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger me-5" %>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="container d-flex justify-content-center align-items-center w-50 alert <%= flash.alert ? "alert-danger" : "alert-success"%>  my-5">
        <%= msg %>
      </div>
    <% end %>

    <h2 class="text-center text-secondary mt-3">Admin Panel</h2>
    
    <%= yield %>
  </body>
</html>
